<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments/layout2 :: head2">
        
    </head>
    <body>
        
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Teemu-Petteri Remes</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#positions">Positions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#motto">Motto</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
          <h1 class="mb-0">Teemu-Petteri </h1> <br>
          <h1><span class="text-primary" id="surname">Remes</span>
          </h1> <br>
        <div class="subheading mb-5">Pyhännäntie 1080 · 74700 Kiuruvesi · (040) 733 1889 ·
          <a href="mailto:teemu.petteri.remes@gmail.com">teemu.petteri.remes@gmail.com</a>
        </div>
        <p class="lead mb-5">I am quick to adopt and learn new techniques. Melius citius fortius!</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/teemu-petteri-remes">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/lupercaljohnson">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.instagram.com/remremes/">
            <i class="fab fa-instagram"></i>
          </a>
       
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Entrepreneur</h3>
            <div class="subheading mb-3">Magistrum</div>
            <p>Agriculture, forestry, apartment renting. Service design, marketing, social media, webpages and consulting.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">December 2011 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Shift Manager</h3>
            <div class="subheading mb-3">ISS Palvelut</div>
            <p>Comprehensive security and managerial tasks</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2007 - December 2011</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Shift planner</h3>
            <div class="subheading mb-3">Securitas</div>
            <p>Security, HR, rota planner and managerial tasks</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2003 - May 2007</span>
          </div>
        </div>
<!--
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Web Design Intern</h3>
            <div class="subheading mb-3">Shout! Media Productions</div>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2008 - June 2010</span>
          </div>
        </div>
-->
      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">University of Oulu</h3>
            <div class="subheading mb-3"></div>
            <div>Computer Science</div>
            <p></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2017 - </span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Hyria</h3>
            <div class="subheading mb-3"></div>
            <p>Turvallisuusvalvojan erikoisammattitutkinto</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2009</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
              <a href="https://www.java.com/en/" title="Java"> <i class="fab fa-java"></i></a>
          </li>
          <li class="list-inline-item">
              <a href="https://aws.amazon.com/" title="AWS"><i class="fab fa-aws"></i></a>
          </li>         
          <li class="list-inline-item">
              <a href="https://en.wikipedia.org/wiki/HTML5" title="HTML5"> <i class="fab fa-html5"></i></a>
          </li>
          <li class="list-inline-item">
              <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets#CSS_3" title="CSS3"> <i class="fab fa-css3-alt"></i></a>
          </li>
          <li class="list-inline-item">
              <a href="https://en.wikipedia.org/wiki/JavaScript" title="JavaScript"><i class="fab fa-js-square"></i></a>
          </li>
          <li class="list-inline-item">
              <a href="https://getbootstrap.com/" title="Bootstrap"><i class="fab fa-bootstrap"></i></a>
          </li>
          <li class="list-inline-item">
              <a href="https://en.wikipedia.org/wiki/Git"  title="Git"> <i class="fab fa-git-square"></i></a>
          </li>
          
          <li class="list-inline-item">
              <i class="fab fa-linux" title="Linux"></i>
          </li>
          <li class="list-inline-item">
              <i class="fab fa-apple" title="Apple"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-windows" title="Windows"></i>
          </li> 
        </ul>
<!--
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
        -->
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>I use much of my free time learning new techniques, or just coding for fun. Yoga, swimming and long walks keeps the mind focused.</p>
        <p class="mb-0">My hobbies are miniatures, painting and sculpting.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Memberships</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Award for Outstanding Staff act at ISS</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Member of <a href="http://www.mensa.fi/wordpress/?page_id=23"> Mensa</a></li>
          
        </ul>

      </div>
    </section>
    
    <hr class="m-0">
    
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="positions">
        <div class="w-100">
        
            <h2 class="mb-5">Position of responsibility</h2>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fas fa-chair text-warning"></i>
                Chairman of the board, Asunto Oy Oulun Urpiaisentie 33, 2018-></li>
              <li>
                <i class="fas fa-chair text-warning"></i>
               Board member, Vuokon Rohdosmyymälä Oy, 2012-> </li>

            </ul>
        </div>
    </section>

    <hr class="m-0">
    
     <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="motto">
        <div class="w-100 w-lg-75">
        
            <h2 class="mb-5">Motto</h2>
            <ul>
                <span>
                    <img id="motto" class="img-fluid rounded mx-auto mb-2" src="img/motto.jpg" alt="In case of fire, git commit, git push, leave building">
                </span>
            </ul>
        </div>
    </section>
    
          </div>
        
        
        <div th:replace="fragments/layout2 :: scipt2"></div>
    </body>
</html>
